@import "scss/helpers/vars";
@import "scss/helpers/mixins";

/* === Start Custom Styles === */
/* === Base Styles === */

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegebility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}

a:link, a:hover, a:visited, a.active {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background: $white;
  color: $black;
  height: 80px;
  font-size: 25px;
  padding-top: 35px;
  p {
    font-family: $primary-font;
  }
  span {
    color: $primary;
  }
}
ul.navigation {
  padding-top: 12px;
  font-size: 13px;
  list-style-type: none;
  li {
    display: inline-block;
    a {
      color: $black;
      padding: 5px 9px;
      letter-spacing: 2px;
      &.active {
      background-color: $primary;
      color: $white;
      }
    }
  }
}
.hero {
  position: relative;
}
.hero-features {
  position: absolute;
  //border-bottom:1px solid red;
  bottom: 0;
  left:200px;
  width: 900px;
}
.feature-header {
  padding: 30px 15px;
  background-color: $white;
  display: inline-block;
  width: 250px;
  margin-bottom: -1px;
  // float:right;
  h4 {
    font-weight: $normal;
    font-size: 26px;
  }
  p {
    font-size: 13px;
    color: $gray;
  }
}
