@import "scss/helpers/vars";
@import "scss/helpers/mixins";

/* === Start Custom Styles === */
/* === Base Styles === */

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegebility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}

a:link, a:hover, a:visited, a.active {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
header {

}
ul.navigation {
  padding-top: 12px;
  font-size: 13px;
  list-style-type: none;
  li {
    display: inline-block;
    a {
      color: $black;
      padding: 5px 9px;
      letter-spacing: 2px;
      &.active {
      background-color: $primary;
      color: $white;
      }
    }
  }
}
.hero {
  position: relative;
  background: linear-gradient(rgba(6, 164, 157, 0.4), rgba(6, 164, 157, 0.4)), url(https://unsplash.it/1900/800?image=7) no-repeat center center;
  //background: url("https://unsplash.it/1900/800?image=7") center center;
  background-size: cover;
  height: 400px;
  width: auto;
  h1 {
    color: $white;
    font-weight: 800;
    text-align: center;
    padding-top: 200px;
    margin-top: 0;
  }
}


/* === FOOTER === */
footer {
  padding: 50px 0;
  background-color: #333;
  color: #fff;;
}
.footer-social {
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    font-size: 20px;
  }
  .fa {
    padding: 0 5px;
  }
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}




.navbar-default {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
}






.navbar-default .navbar-nav > li > a {
  color: #fff;
}
