doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Brello Industries
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    block header
    block content
    block footer
