/* === Start Custom Styles === */
/* === Base Styles === */
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegebility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

a:link, a:hover, a:visited, a.active {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/* === NAVIGATION === */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff; }

.navbar-default {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
  border-radius: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

/* === HEADER STYLES === */
.hero {
  position: relative;
  background: linear-gradient(rgba(6, 164, 157, 0.4), rgba(6, 164, 157, 0.4)), url(../images/desktop.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
  width: auto; }
  .hero h1 {
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    margin: 0; }
  .hero h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0; }
  .hero .phrase {
    text-align: center;
    position: relative; }
  .hero h3 {
    color: #FFE89C;
    font-weight: 500;
    font-size: 30px;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    border-top: 3px solid #FFE89C;
    border-bottom: 3px solid #FFE89C;
    font-weight: 700;
    text-transform: uppercase; }

/* === FOOTER === */
footer {
  padding: 50px 0;
  background-color: #3F3F3F;
  color: #fff; }

.footer-social ul {
  list-style-type: none; }

.footer-social li {
  display: inline-block;
  font-size: 20px; }

.footer-social .fa {
  padding: 0 5px; }
