/* === Start Custom Styles === */
/* === Base Styles === */
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegebility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

a:link, a:hover, a:visited, a.active {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

header {
  background: #fff;
  color: #333333;
  height: 80px;
  font-size: 25px;
  padding-top: 35px; }
  header p {
    font-family: "Ubuntu", sans-serif; }
  header span {
    color: #8DBDE3; }

ul.navigation {
  padding-top: 12px;
  font-size: 13px;
  list-style-type: none; }
  ul.navigation li {
    display: inline-block; }
    ul.navigation li a {
      color: #333333;
      padding: 5px 9px;
      letter-spacing: 2px; }
      ul.navigation li a.active {
        background-color: #8DBDE3;
        color: #fff; }

.hero {
  position: relative;
  background: linear-gradient(rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.4)), url(https://unsplash.it/1900/800?image=7) no-repeat center center;
  background-size: cover;
  height: 800px;
  width: auto; }

.hero-features {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 900px; }

.feature-header {
  padding: 30px 15px;
  background-color: #fff;
  display: inline-block;
  width: 250px;
  margin-bottom: -1px; }
  .feature-header h4 {
    font-weight: 400;
    font-size: 26px; }
  .feature-header p {
    font-size: 13px;
    color: #9B9B9B; }

/* === FOOTER === */
footer {
  padding: 50px 0; }

.footer-social ul {
  list-style-type: none; }

.footer-social li {
  display: inline-block;
  font-size: 20px; }

.footer-social .fa {
  padding: 0 5px; }
