.row  
  .hero
    img(src="https://unsplash.it/1900/800?image=7", alt="Nerds at a desk")
    .hero-features
      .col-sm-4
        .feature-header
          h4 Innovations
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .feature-image
      .col-sm-4
        .feature-header
          h4 Research
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .feature-image
      .col-sm-4
        .feature-header
          h4 Production
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .feature-image
