section.about-me
  .container
    .row
      h2.about-header.col-xs-12 About Me
        h4.about-skills  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  
      .about-photo.col-sm-4
      .col-sm-8
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis facere eaque explicabo hic fugit voluptatibus voluptatem tenetur vitae debitis architecto, dicta vel repudiandae, magni adipisci sed atque nam sint. Quas sunt ex inventore qui vitae nostrum, nam magnam laborum, iure neque eveniet deleniti id molestiae et maxime! Tenetur, suscipit, modi.
        .row
          .col-sm-4
            .about-info-title Birthplace
            p Text
          .col-sm-4
            .about-info-title Residence
            p Text
          .col-sm-4
            .about-info-title Hobbies
            p Text
        .row
          .col-sm-4 Born
            .about-info-title
            p Text
          .col-sm-4 Education
            .about-info-title
            p Text
          .col-sm-4 Email
            .about-info-title
            p Text
