.container-fluid
  .row
    .col-sm-4.left-sidebar
      h2 Name Here
      h3 Front End Developer
    .col-sm-8.content
      h2 Text Here
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis cumque odit, libero, officia ea at quod accusantium consectetur quas maiores ducimus, eveniet molestiae! Dolor, eligendi?
