header
  .container
    .row
      .col-sm-4.red
        p
          | Brell
          span oo

      .col-sm-8.red
        ul.navigation
          li
            a.active(href="#") HOME
          li
            a(href="#") ABOUT
          li
            a(href="#") SERVICES
          li
            a(href="#") GALLERY
          li
            a(href="#") BLOG
          li
            a(href="#") CONTACT
