/* === Start Custom Styles === */
/* === Base Styles === */
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegebility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

a:link, a:hover, a:visited, a.active {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/* === CONTENT === */
.content {
  background-color: #9B9B9B;
  min-height: 100%; }

/* === FOOTER === */
