// Colors
$primary: #8DBDE3;
$off-black: #3F3F3F;
$white: #fff;
$gray: #9B9B9B;
$yellow: #FFE89C;
$teal: #35A49D;
// Typography
$primary-font: "Open Sans", sans-serif;

$thin: 300;
$normal: 400;
$bold: 500;
$thick: 700;
