// Colors
$blue: #1BBBF5;
$off-black: #3F3F3F;
$white: #fff;
$gray: #9B9B9B;
$yellow-orange: #FFCA62;
$lime: #C8DD66;
$green: #5DDF94;
$off-red: #FD5B4E;
$purple: #BD7ADB;
$gradient-dark: #353841;
$gradient-light: #303F5E;
$facebook: #2D4487;
$twitter: #479AEA;
$google-plus: #D51824;
$pintrest: #BC0B20;
$linkedin: #0D66A6;
$dribble: #D23FC3;
$instagram: #DE842C;
$rss: #43A33D;
$behance: #368CC7;
$flickr: #FA0171;
$footer: #303F5E;
$footer2: #1F242A;
// Typography
$primary-font: "Open Sans", sans-serif;

$thin: 300;
$normal: 400;
$bold: 500;
$thick: 700;
